[Desktop Entry]
Name=Franz
Comment=Franz 
GenericName=Franz Client for Linux
Exec=/usr/share/Franz/Franz %U
Icon=franz
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=text/plain;

